<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>About Us | Hiking Tours</title>
</head>

<body>
  <style>
    /* CSS code */
    .left-top {
      position: absolute; /* Position the image absolutely */
      top: 0; /* Stick it to the top */
      left: 0; /* Stick it to the left */
    }
  </style>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand me-auto" href="#">
                <img src="Screenshot__6_-removebg-preview.png" class="left-top"  width="275" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#service1">teaching platform</a></li>
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#service1">Tour 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"> Contacts</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://www.facebook.com" >Facebook</a></li>
                            <li><a class="dropdown-item" href="https://www.instagram.com" >Instagram</a></li>
                            <li><a class="dropdown-item" href="https://www.youtube.com" >Youtube</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Login/Sign-up
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Sign-up</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div class="modal fade" id="service1" tabindex="-1" aria-labelledby="service1ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="service1ModalLabel">Tour - Glacier Hiking Adventure</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Embark on an unforgettable Glacier Hiking Adventure with our expert guides. Explore stunning icy landscapes and experience the thrill of hiking on ancient glaciers.</p>
              <h2>Price: $100</h2>
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Enter your email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Phone Number</label>
                  <input type="tel" class="form-control" required>
                  <div id="numberHelp" class="form-text">We'll never share your number with anyone else.</div>
                </div>
                <button type="submit" class="btn btn-primary">Book Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>

  
      <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    

    <main class="container">
        <section id="company-info">
            <h2 class="text-center mb-4">Our Company</h2>
            <p>Welcome to SkillSpot, where learning knows no bounds.

              At SkillSpot, we believe in the power of education to transform lives. Our vision is to create a world where everyone has access to quality learning opportunities, regardless of their background or circumstances.
              
              Driven by our mission to empower individuals to reach their full potential, we have curated a diverse range of courses and resources to cater to learners of all ages and levels. Whether you're looking to acquire new skills, enhance your expertise, or explore a passion, SkillSpot is your go-to destination for personalized learning journeys.
              
              Our commitment to excellence extends beyond just offering courses; we strive to foster a supportive learning community where knowledge is shared, connections are forged, and aspirations are realized. With a team of dedicated instructors and industry experts, we're dedicated to providing an enriching and engaging learning experience for every student.
              
              Join us at SkillSpot and embark on a journey of discovery, growth, and endless possibilities. Together, let's unlock the doors to a brighter future through the power of learning.
              
              </p>
           
        <section id="team">
            <h2 class="text-center mb-4">Meet Our Team</h2>
            <ul class="list-group">
                <li class="list-group-item">Mixeili Kobaxidze</li>
                <li class="list-group-item">Lika Asanidze</li>
                <li class="list-group-item">Ana Gorgodze</li>
                <li class="list-group-item">Giorgi Bazgadze</li>
                <li class="list-group-item">Andria Managadze</li>
                <li class="list-group-item">Lizi Lobzhanidze</li>
                <li class="list-group-item">Levani Burdiladze</li>
                <li class="list-group-item">Dimitri Narmania</li>
                <li class="list-group-item">Levani Bakhia</li>
                <li class="list-group-item">Rezo Lutidze</li>
                <li class="list-group-item">Saba Bezhuasvhili</li>
                <li class="list-group-item">Tato Mosidze</li>
                <li class="list-group-item">Anano Kurtanidze</li>
                <li class="list-group-item">Giorgi Chikadze</li>
                <li class="list-group-item">Archili Burjanadze</li>
                <li class="list-group-item">Aornike Pkhakadze</li>
                <li class="list-group-item">Mate Phakadze</li>
                <li class="list-group-item">Luka Tsiklauri</li>
                <li class="list-group-item">Nugo Tomaradze</li>
                <li class="list-group-item">Giorgi Gogichaishvili</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Hiking Tours. All rights reserved.</p>
    </footer>
</body>

</html>

