.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

body,
nav,
footer {
  background-color: #f8f9fa;
}

nav {
  background-color: #f8f9fa;
}

main {
  padding: 50px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}
